// cssnano produces improper output in postcss-normalize-positions
// clean-css
// this is a temp fix to avoid the issue where
// input:
// background-position: center right $input-height-inner-quarter;
// produces output:
// background-position: 100% $input-height-inner-quarter;

.was-validated .form-control:valid, .form-control.is-valid {
  background-position: right $input-height-inner-quarter center;
 }

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-position: right $input-height-inner-quarter center;
 }

.form-control {
  border: 1px solid darkturquoise;
  color: black;
  //font-weight: 500;
}

.rw-widget-picker {
  &.rw-widget-container {
    border: unset;
  }
}

mark {
  padding: 0;
  background-color: greenyellow;
}

.text-danger {
  color: red !important;
}

.react-phone-number-input__input {
  &.react-phone-number-input__phone {
    height: auto;
    border-bottom: none;
    //font-weight: 500;
  }
}

.react-phone-number-input__icon {
  border: none !important;
  height: auto !important;
  &.react-phone-number-input__icon--international {
    height: auto;
  }
}

.accordion-header {
  cursor: pointer;
  padding: 0 !important;

  p {
    width: 100%;
    user-select: none;
    padding: 10px;
  }

  span {
    padding: 10px;
  }

  .field {
    padding-right: 10px;
  }
}
