.transactionRFP {
  table {
    // border-collapse: seperate;
    width: 100%;
    overflow-x: scroll;

    thead {
      tr {
        th {
          background: #ffffff;
          text-align: left;
          padding: 4px;
        }
      }
    }

    tbody {
      tr {
        td {
          background: #ffffff;
          text-align: left;
          padding: 4px;
        }
      }
    }
  }

  .level {
    .level-left {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-start;

      .level-item.is-flexible {
        flex-grow: 1;
      }
    }

    @media screen and (min-width: 769px) {
      .level-left {
        display: flex;

        .level-item:not(:last-child) {
          margin-right: 0.75rem;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .level-left + .level-right {
        margin-top: 1.5rem;
      }
    }
  }

  .decide-table {
    table {
      thead {
        tr {
          td,
          th {
            background: #ffffff;
            text-align: left;
            padding: 4px;
            font-weight: bold;
          }
        }
      }

      tbody {
        tr:last-child {
          font-weight: bold;
          border-width: 0 0 2px;
          color: #363636;
        }
      }
    }
  }

  .addItem {
    input {
      width: 250px;
      height: 30px;
    }
  }

  .Select-control {
    width: 200px;
  }
}

.radiogroup {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.accordions {
  .accordion {
    margin-top: 20px;

    .accordion-header {
      cursor: pointer;
      padding: 0 !important;

      p {
        width: 100%;
        user-select: none;
        padding: 10px;
      }

      span {
        padding: 10px;
      }

      .field {
        padding-right: 10px;
      }
    }
  }
}

/********************************* Accordian css *************************************/


/*************** Extend/Inheritance *********************/
%icon-has-text-danger {
  .icon.has-text-danger {
    width: auto;
    height: auto;
    padding-left: 5px;
    vertical-align: middle;
    .fa-asterisk {
      height: auto;
    }
  }
}

.th-has-mandatory-astrisk {
  @extend %icon-has-text-danger;
}
/*************** Extend/Inheritance *********************/

/*************** Variables *********************/

$orange-shade: rgb(242, 151, 24);
$orange-lighter-shade: #efb418;
$family-sans-serif: "GoogleSans", "Gravity" !important;

$epo-blue: rgb(66, 136, 221);
$epo-blue-a: rgba(66, 136, 221, 0.7);
$blue: $epo-blue;
$link: $epo-blue;
$border-color: #dbdbdb;

/*************** Variables *********************/

a small:visited,
.has-text-link:visited {
  color: $orange-shade !important;
}

a small:active,
.has-text-link:active {
  color: $orange-shade !important;
}

a small:hover,
.has-text-link:hover {
  color: $orange-shade !important;
}

/*************** Accordion *********************/
.accordions .accordion {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  font-size: 1rem;
}

.accordions .accordion:not(:last-child) {
  margin-bottom: 1.5rem;
}

.accordions .accordion strong {
  color: currentColor;
}

/* .accordions .accordion a:not(.button):not(.tag) {
    color: currentColor;
    text-decoration: underline; } */
.accordions .accordion.is-small {
  font-size: 0.75rem;
}

.accordions .accordion.is-medium {
  font-size: 1.25rem;
}

.accordions .accordion.is-large {
  font-size: 1.5rem;
}

.accordions .accordion:not(:first-child) .accordion-header {
  border-radius: 0;
}

.accordions .accordion:not(:last-child) {
  margin-bottom: 0;
}

.accordions .accordion:not(:last-child) .accordion-content {
  border-radius: 0;
}

.accordions .accordion .toggle,
.accordions .accordion [data-action="toggle"] {
  cursor: pointer;
}

.accordions .accordion .accordion-header {
  cursor: pointer;
  align-items: center;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.25;
  padding: 0.5em 0.75em;
  position: relative;
  border-bottom: 2px solid $orange-shade;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.accordions .accordion .accordion-header .toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0.75em;
  height: 20px;
  width: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
}

.accordions .accordion .accordion-header .toggle::before {
  color: white;
  display: block;
  left: 0;
  position: absolute;
  top: -0.1em;
  right: 0;
  bottom: 0;
  content: "+";
}

.accordions .accordion .accordion-header .toggle::after {
  display: none;
}
.accordion-overflow .accordions .accordion .accordion-header + .accordion-body {
  overflow-y: hidden;
}
.accordions .accordion .accordion-header + .accordion-body {
  max-height: 0;
  // color: grey;
  border: 1px solid $border-color;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordions .accordion .accordion-header + .accordion-body .accordion-content {
  padding: 1em 1.25em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordions
.accordion
.accordion-header
+ .accordion-body
.accordion-content
code,
.accordions
.accordion
.accordion-header
+ .accordion-body
.accordion-content
pre {
  background-color: white;
}

.accordions
.accordion
.accordion-header
+ .accordion-body
.accordion-content
pre
code {
  background-color: transparent;
}

.accordions .accordion.is-active .accordion-header .toggle::before {
  content: "-";
}

.search-table-block.table-group-by {
  .accordions {
    .accordion {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
.accordions.common-tasks-dashboard {
  .accordion {
    &.is-active {
      .accordion-header + .accordion-body {
        overflow-y: visible;
      }
    }
    .accordion-header + .accordion-body {
      overflow-y: hidden;
      -webkit-transition: max-height 0.2s ease;
      -moz-transition: max-height 0.2s ease;
      -o-transition: max-height 0.2s ease;
      transition: max-height 0.2s ease;
    }

    .field-saved-search {
      .button {
        margin-left: 10px;
      }
    }
    .field-save-search-btn {
      .button {
        margin-right: 10px;
      }
    }
  }
}

.accordions .accordion.is-active .accordion-body {
  // overflow: auto !important;
  max-height: 3000em;
}

.accordions .accordion.is-white {
  background-color: white;
}

.accordions .accordion.is-white .accordion-header {
  background-color: white;
  color: #0a0a0a;
}

.accordions .accordion.is-white .accordion-content {
  border-color: white;
  color: #4d4d4d;
}

.accordions .accordion.is-black {
  background-color: #fafafa;
}

.accordions .accordion.is-black .accordion-header {
  background-color: #0a0a0a;
  color: white;
}

.accordions .accordion.is-black .accordion-content {
  border-color: #0a0a0a;
  color: #090909;
}

.accordions .accordion.is-light {
  background-color: #fafafa;
}

.accordions .accordion.is-light .accordion-header {
  background-color: whitesmoke;
  color: #363636;
}

.accordions .accordion.is-light .accordion-content {
  border-color: whitesmoke;
  color: #505050;
}

.accordions .accordion.is-dark {
  background-color: #fafafa;
}

.accordions .accordion.is-dark .accordion-header {
  background-color: #363636;
  color: whitesmoke;
}

.accordions .accordion.is-dark .accordion-content {
  border-color: #363636;
  color: #2a2a2a;
}

.accordions .accordion.is-primary {
  background-color: #f5fffd;
}

.accordions .accordion.is-primary .accordion-header {
  background-color: #00d1b2;
  color: #fff;
}

.accordions .accordion.is-primary .accordion-content {
  border-color: #00d1b2;
  color: #021310;
}

.accordions .accordion.is-link {
  background-color: #f6f9fe;
}

.accordions .accordion.is-link .accordion-header {
  background-color: #3273dc;
  color: #fff;
}

.accordions .accordion.is-link .accordion-content {
  border-color: #3273dc;
  color: #22509a;
}

.accordions .accordion.is-info {
  background-color: #f6fbfe;
}

.accordions .accordion.is-info .accordion-header {
  background-color: #209cee;
  color: #fff;
}

.accordions .accordion.is-info .accordion-content {
  border-color: #209cee;
  color: #12537e;
}

.accordions .accordion.is-success {
  background-color: #f6fef9;
}

.accordions .accordion.is-success .accordion-header {
  background-color: #23d160;
  color: #fff;
}

.accordions .accordion.is-success .accordion-content {
  border-color: #23d160;
  color: #0e301a;
}

.accordions .accordion.is-warning {
  background-color: #fffdf5;
}

.accordions .accordion.is-warning .accordion-header {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.accordions .accordion.is-warning .accordion-content {
  border-color: #ffdd57;
  color: #3b3108;
}

.accordions .accordion.is-danger {
  background-color: #fff5f7;
}

.accordions .accordion.is-danger .accordion-header {
  background-color: #ff3860;
  color: #fff;
}

.accordions .accordion.is-danger .accordion-content {
  border-color: #ff3860;
  color: #cd0930;
}

.accordions .accordion.is-purple {
  background-color: #fbf5fe;
}

.accordions .accordion.is-purple .accordion-header {
  background-color: #830fd7;
  color: #fff;
}

.accordions .accordion.is-purple .accordion-content {
  border-color: #830fd7;
  color: #6a0faa;
}

//accordian header and background values are reset
//$accordion-background-color:white;
//$accordion-header-background-color:#ebf2fa;
//$accordion-header-color:#3982CC;

.accordions {
  margin-bottom: 10px;

  .accordion {
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 10px 2px rgba($black, 0.1);
  }
}
