// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import "~@coreui/coreui-pro/scss/coreui.scss";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui-pro/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

// temp fixes
@import "fixes";

// Spinkit
$spinkit-spinner-color: $body-color;
@import '~spinkit/scss/spinkit.scss';

.wrap-cell-text {
  white-space: normal;
}
.DateRangePicker_picker {
  z-index: 10;
}
.DateRangePickerInput__showClearDates {
  border: 1px solid darkturquoise !important;
  color: black !important;
  // border-radius: 5px !important;
}

.payment-events .DateRangePicker {
  width: 100% !important;
}

.payment-events .DateRangePickerInput {
  width: 100% !important;
}

.DateRangePickerInput_calendarIcon{
  padding: 7px !important;
}

// ag-grid table

.ag-theme-balham .ag-header-row {
  top: 0px;
  height: 32px;
  box-shadow: none!important;
  background-color: #4288dd!important;
  color: #fff!important;
  font-weight: 700!important;
  width: 2200px;
  font-size: 15px;
}

.ag-theme-balham .ag-icon {
  color: #0e0000 !important;
}

.ag-theme-balham * {
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.ag-theme-balham .ag-ltr .ag-cell {
  border-right: 1px solid #0000001a !important;
}

.ag-theme-balham .ag-root{
  border: 1px solid rgba(0,0,0,0.1);
}

.rw-widget .rw-widget-input {
  border: 1px solid darkturquoise
}